# xPanda
XPANDA_API_KEY=
XPANDA_HMAC_SECRET=

# ggsel Seller API v1
GGSEL_SELLER_ID=
GGSEL_API_KEY=

# ggsel Seller Office
GGSEL_SO_USERNAME=
GGSEL_SO_PASSWORD=

# Webhook protection
WEBHOOK_SHARED_SECRET=

# Database
DATABASE_URL=postgresql+psycopg2://postgres:bTzcPhuovaxICNnhvFVatINSHxPgPUqs@shinkansen.proxy.rlwy.net:36960/railway

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID_CRITICAL=
TELEGRAM_CHAT_ID_WARN=

# Business logic
MARKUP=1.20
MIN_PRICE_RUB=100
CS2_CATEGORY_ID=